run = "php artisan serve --host 0.0.0.0 --port $PORT"
[nix]
channel = "stable-23_11"
[entrypoint]
run = "php artisan queue:work --daemon"
[cron]
schedule = "*/1 * * * *"
command = "php artisan schedule:run"
